.contact
    height: 553px
    background: #4A4A4A
    padding-top: 208px
    &__img
        height: 40px
        width: 40px
        margin-right: 33px
    &__block
        display: flex
        &__third
            padding-left: 174px
        &-second
            width: 225px
            margin-left: 117px
            margin-right: 174px 
    &__section
        display: flex
    &__title
        color: white
        margin-bottom: 45px
    &__desc
        color: white
        width: 334px
    &__link
        color: white
        cursor: pointer

@media ( max-width: 1200px )
    .contact
        height: max-content
        padding-bottom: 50px
        &__section
            flex-wrap: wrap
        &__block
            &-second
                margin-left: 50px
                margin-right: 0px
            &-third
                margin-top: 50px
@media ( max-width: 709px )
    .contact
        &__desc
            width: inherit
        &__section
        &__block
            &-second
                margin-top: 50px
                margin-left: 0px