.testimonials
    background: #0E77AF
    margin: 161px 0px 179px 0px
    height: 651px
    
    &__text
        font-family: Asap
        font-style: normal
        font-weight: normal
        font-size: 28px
        line-height: 32px
        color: #FFFFFF
    &__percent
        font-family: Asap
        font-style: normal
        font-weight: bold
        font-size: 64px
        line-height: 73px
        padding-top: 92px
        color: #FFFFFF
    &__title
        padding-top: 150px
        color: white
    &__subtitle
        color: white
    &__section
        display: flex
    &__block
        &_desc
            padding: 17px 0px 54px 0px
            font-family: Asap
            font-style: normal
            font-weight: normal
            font-size: 16px
            color: #000000
        &_title
            font-family: Asap
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 23px
            color: #000000
        &-first
            width: 230px
            margin-right: 207px
        &-second
            margin-top: 148px
            width: 734px
            background: #FFFFFF
            height: 356px
            padding: 75px 45px 0px 59px
