.benefits
    &__section
        display: flex
        justify-content: space-around
        padding-bottom: 130px
    &__img
        position: absolute
        background-image: url("../img/benefits.png")
        left: 0px
        width: 60%
        height: 504px
    &__block
        margin-left: 60%
        position: relative
        width: 40%
        height: 96px
        background: #0E77AF
        padding: 35px 0px 36px 34px
        margin-top: 21px
        font-family: "Asap"
        font-style: normal
        font-weight: bold
        font-size: 22px
        line-height: 25px
        color: #FFFFFF
        cursor: pointer
        &:hover
            background: rgba(255, 255, 255, 0.9)
            color: black
        &_text
            
            position: absolute
            right: 0px
            width: 40%
            padding: 77px 0px 0px 66px
            height: 504px
            // margin-left: 405px
            background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%)
        &-first
            margin-top: 87px
