.footer
    padding-top: 42px 
    height: 108px
    background: #363636
    &__title
        color: white
    &__text
        color: white
    &__section
        margin-left: 20%
    &__img
        margin-top: 50px
        margin-right: 31px
        width: 18px
        height: 26px
    &__adress
        margin-top: -91px
        display: flex
        position: absolute
        width: 380px
        height: 196px
        background: #5F5F5F
        padding-top: 40px
        padding-left: 16px
    &__call
        margin-top: -91px
        display: flex
        position: absolute
        width: 380px
        height: 196px
        background: #6C6C6C
        padding-top: 40px
        padding-left: 16px
        margin-left: 380px
    &__write
        margin-top: -91px
        display: flex
        position: absolute
        width: 380px
        height: 196px
        background: #7B7B7B
        padding-top: 40px
        padding-left: 16px
        margin-left: 760px